:root{
    --var-color: oklch(21% .034 264.665);
}
body{ 
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 background-color: --var-color;
}
.container div{
    width: 20%;
    height: 100px;
    background-color: aqua;

}
.addclass{
    border: 1px rgb(214, 21, 21) solid;
    color: red;
     width: 50%;
    padding: 10px;

}.worker{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 5px;
    color: black;
}
.addclass2{
    transition: .7s all ease;
    background-color: rgb(13, 134, 247);
    width: 200px;
    height: 200px;

}table{
    width: 50%;
    border: 1px solid black;
}
tr{
width: 100%;
    border: 1px solid black;
}
td{

    border: 1px solid black;
}#submit{
    width: 30px;
    height: 30px;
}
.img-preview{
    width: 100px;
    height: 70px;
    border-radius: 100%;
}
.img-preview>img{
    width: 100%;
}
.search{
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}#employeeRole{
    font-size: 20px;
    font-weight: bold;
    color: green;
}